#grid-alunos {
  width: 55vw;
}

.more-btn {
  border-radius: 50%;
  border: 1px solid var(--info);
  color: var(--info);
  height: 2rem;
  width: 2rem;
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-container .more-btn::after {
  display: none !important;
}

.more-btn:hover {
  background-color: var(--info);
  color: var(--white);
}

.produtos {
  margin: 0.55rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.45rem;
  height: 200px;
}

.produtos img {
  width: 100%;
  height: 110px;
}

.infos {
  display: flex;
  flex-direction: column;
}

.infos section {
  margin: 0.55rem 0;
  display: flex;
  justify-content: space-between;
}

.infos section button {
  border: none;
  background-color: #fff;
}

.infos section:last-child span:last-child {
  color: #abc2f3;
}

.dropbtn {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.div-filtro {
  width: 20%;
  padding-bottom: 2%;
}

.button-buscar {
  padding-top: 5%;
}

.btn-position {
  margin-top: 20px;
}

.conten-margem {
  margin-inline: 30%;
}

.btn-aling {
  margin-inline: 17%;
}

.color-card {
  background-color: #f7f7f7;
}

.color-saldo {
  color: #4ae850;
  font-size: larger;
}

table {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

thead {
  color: white;
}

td {
  color: #7c8084;
}

tr {
  border-bottom: var(--info);
}
